# {{.CurrentTable.GetPascalCaseTableName}}

## Columns
|ColumnName|DB Data Type| Java DataType| C# DataType| Go Data Type|Is Primary Key|Is Nullable|Is Auto Increment|
| ---- | ----- | ----- | ----- | ----- | ----- | ----- | ----- |{{range .CurrentTable.Columns}}
|{{.GetCamelCaseColumnName}}|{{.DataType}}|{{.GetJavaDataType}}|{{.GetCSharpDataType}}|{{.GetGoDataType}}|{{.IsPrimaryKey}} |{{.IsNullable}} |{{.IsAutoIncrement}}|{{end}}

## Foreign Keys{{if gt ( len .CurrentTable.ForeignKeys) 0 }}
| Constraint Name | Foreign Key Table Name | Foreign Key Column Name | Primary Key Table Name | Primary Key Column Name|
| ---- | ---- | ---- | ----  | --- |{{else}}
None {{end}} {{range .CurrentTable.ForeignKeys}}
|{{.ConstraintName}}|{{.FkTableName}}|{{.FkColumnName}}|{{.PkTableName}}|{{.PkColumnName}}|{{end}}


## Referenced Foreign Keys{{if gt ( len .CurrentTable.ReferencedForeignKeys) 0 }}
| Constraint Name | Foreign Key Table Name | Foreign Key Column Name | Primary Key Table Name | Primary Key Column Name|
| ---- | ---- | ---- | ----  | --- |{{else}}
None {{end}}{{range .CurrentTable.ReferencedForeignKeys}}
|{{.ConstraintName}}|{{.FkTableName}}|{{.FkColumnName}}|{{.PkTableName}}|{{.PkColumnName}}|{{end}}